.section {
  width: 1024px; /* --bp-lg */
  max-width: calc(100% - 48px);
  margin: 60px auto 0;
}

.title {
  margin: 0 0 20px 0;

  color: #efebf4;

  font-size: 36px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1024px) /* --bp-lg */ {
  .section {
    max-width: calc(100% - 40px);
    margin-top: 48px;
  }

  .title {
    font-size: 32px;
  }
}

@media (max-width: 768px) /* --bp-md */ {
  .section {
    max-width: calc(100% - 32px);
    margin-top: 40px;
  }

  .title {
    font-size: 28px;
  }

  .cards {
    gap: 16px;
  }
}
